
#glidercontent{
	margin:0px 0 5px 0px;
	font-family:Century gothic, Georgia,Arial,Tahoma,sans-serif;
}

.glidecontentwrapper{
	position: relative; /* Do not change this value */
	width: 650px;
	height: 280px; /* Set height to be able to contain height of largest content shown*/
	overflow: hidden;
	margin:0px 0px 0px 0px;
	background:url(images/gcont.jpg) repeat-y;
	}

.glidecontent{ /*style for each glide content DIV within wrapper.*/
	position:absolute; /* Do not change this value */
	padding:0px 15px 0px 15px;
	width:620px;
	color:#fff;
	margin:0px 0px;
	height: 220px;
	background:#ec03d9 url(images/minibg.pg) no -repeat;
	overflow:hidden;
	float:left;
}
.glidemeta h2{
	margin:5px 0px 5px 0px;
	font-size:16px;
	font-weight:bold;
}
.glidemeta h2 a:link, .glidemeta h2 a:visited{
	color:#fff;
}

.glidemeta{
height: 70px;
width: 610px;
padding:0px 5px 5px 5px;
position:absolute;
background: url(images/balloon.png);
top:145px;
line-height:14px;
color: #fff;
font-size:12px;
overflow: hidden;
display:none;
border-top:1px solid #000;
}

.gnav{ /*style for DIV used to contain toggler links. */
	width: 100px;
	height:50px;
	z-index:150;
	float:right;
	padding-right:25px;
}

.glidecontenttoggler{ /*style for DIV used to contain toggler links. */

	height:50px;
	z-index:150;
	width: 650px;
	background: url(images/gtop.jpg);
}
.glidecontenttoggler a{ /*style for every navigational link within toggler */
	display: -moz-inline-box;
	display: inline-block;
	color: #2e6ab1;
	font-weight: bold;
	text-decoration: none;
}

.glidecontenttoggler a.selected{ /*style for selected page's toggler link. ".selected" class auto generated! */
	background: #E4EFFA;
	color: black;
}

.glidecontenttoggler a:hover{
	background: #E4EFFA;
	color: black;
}

.glidecontenttoggler a.toc{ /*style for individual toggler links (page 1, page 2, etc). ".toc" class auto generated! */
}

.glidecontenttoggler a.prev{ /*style for "prev" and "next" toggler links. ".prev" and ".next" classes auto generated! */
	top:15px;
	right:35px;
	position:absolute;
	display:block;
	background:url(images/lefta.png) bottom;
	width:36px;
	height:25px;
}
.glidecontenttoggler a.next {
	float:right;
	display:block;
	background:url(images/righta.png) bottom;
	width:36px;
	height:25px;
	position:absolute;
	top:15px;
	right:5px;
}
.glidecontenttoggler a.prev:hover {
	top:15px;
	right:35px;
	position:absolute;
	display:block;
	background:url(images/left.png) bottom;
	width:36px;
	height:25px

}

.glidecontenttoggler a.next:hover{

	float:right;
	display:block;
	background:url(images/right.png) bottom;
	width:36px;
	height:25px;
	position:absolute;
	top:15px;
	right:5px;

}


#myslides{

background:#000 url(images/mslid.jpg) repeat-x;
width: 650px;
height:165px;
margin-bottom:5px;
}

.stepcarousel{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 554px; /*Width of Carousel Viewer itself*/
height: 160px; /*Height should enough to fit largest content's height*/
margin: 0px 48px 5px 48px;

}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 20px 10px ; /*margin around each panel*/
width:170px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
background:#0e1829;
height:120px;
border:1px solid #1d2c44;

}
.stepcarousel .panel p{
text-align: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 5px 5px ; /*margin around each panel*/

}

.stepcarousel .panel h2{
text-align: left; /*leave this value alone*/
height:20px;
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 2px 5px ; /*margin around each panel*/
font-size:16px;
font-weight:bold;
text-align:center;
font-family:Georgia,century gothic,Arial,verdana, sans-serif;
}

.stepcarousel .panel img{
float: left; /*leave this value alone*/
background:#0E1829; /*clip content that go outside dimensions of holding panel DIV*/
margin: 5px 5px 5px 5px; /*margin around each panel*/
padding:0px 0px;
}





.single{
	width: 650px;
	margin: 0px 3px 5px 0px;
	padding:0px 0 0 0;
	background:url(images/vanila.jpg);
	color:#222;
	font-family:Arial,Century gothic,verdana, sans-serif;

}


.single h2 {
	margin: 0px 0 0px 0;
	padding: 7px 0px 0px 10px;
	text-align: left;
	font-size: 18px;
	overflow:hidden;
	text-transform: uppercase;
	font-weight:normal;
	}

.single h2 a, .single h2 a:link, .single h2 a:visited  {
	color: #fff;
	overflow:hidden;
	background-color: transparent;
	}
.single h2 a:hover  {
	color: #306074;
	background-color: transparent;
	}

.data{
	margin: 0px 0 0px 0;
	padding: 5px 0px 5px 10px;
	text-align: left;
	font-size: 12px;
	overflow:hidden;
	line-height:14px;
	color:#A06933;
}

	
.sentry a:link,
.sentry a:visited {
	color: #fbb100;
	background-color: transparent;
}

.sentry a:hover {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
}
.sentry{
	margin: 0 0;
	padding: 0px 0px;
}
.sentry p{
	margin: 0px 0;
	padding: 0px 10px;
	font-size:13px;
	color:#668790;

	}
.single img{
	float:left;
	margin: 5px 5px 5px 0px;
	padding: 5px 5px;
	border:1px solid #222;
	background:#0E1829;

}
.cover{
	margin: 0 0;

	}
.spostinfo{
	
	padding:5px 5px 10px 10px;
	margin:5px 0;
}	

.category{
	padding:2px 5px 0px 25px;
	margin:0px 0px;
	background:url(images/cat.png) no-repeat;
}

.category a:link,.category a:visited{
	color:#A06933;

}