#main {
    font-family: Tahoma;
    font-size: 12px;
    width: 800px;
}

#block {
    border: 1px solid #c9c9c9;
    padding: 15px;
    width: 50%;
    margin-top: 300px;
    margin-right: 600px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #386C82;
    border-bottom: 4px solid #969696;
    padding-bottom: 2px;
}

#text {
    padding-top: 2px;
}

input {
    border: 1px solid #c9c9c9;
    padding: 3px;
    font-size: 11px;
    font-family: Tahoma;
    background: #F1F1F1 url('input.png') repeat-x;
    text-align: left;
}

.error {
    border: 1px solid #853D3D;
    background: #FFCFCF url('error.png') no-repeat;
    background-position: right;
    font-weight: bold;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 50px;
}

.success {
    border: 1px solid #6F8C43;
    background: #DDF7B5 url('success.png') no-repeat;
    background-position: right;
    font-weight: bold;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 50px;
}

#copy {
    font-size: 10px;
    color: #575757;
    border-top: 1px solid #c9c9c9;
    padding-top: 10px;
}

table {
    margin-top: 15px;
}

.bgjavawindow
{
	display:none;
	position:absolute;
	background-color:transparent;
	background-image:url('style/image/folder/bgjavawindow.png');
	top:1px;
	left:1px;
	width:100%;
	height:100%;
}

.javawindowjump
{
	background-color:white;
	position:absolute;
	width:200px;
	top:40%;
	left:40%;
	border-style:solid;
	border-width:1px;
	border-color:black;
	-moz-box-shadow: 10px 10px 10px #928A8A;
	-webkit-box-shadow: 10px 10px 10px #928A8A;
	box-shadow: 10px 10px 10px #928A8A;
	-moz-border-radius: 15px;
	border-radius: 15px;